body{
    max-width: 300px;
    margin: 0 auto;
}
.coffeMachine{
    margin-top: 10%;
    background-color: darkgray;
    height: 500px;
    text-align: center;
}
.head{
    width: 100%;
    float: left;
}
.scoreboard{
    background-color: white;
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.cashAcceptor{
    width: 50px;
    float: left;
    margin-top: 20px;
    background-color: darkgreen;
}
#okBtn{
    width: 54px;
    float: left;
    height: 20px;
}

/*#coffeeTable{
    width: 100%;
}*/
 .coffeeName{
    float: left;
    background-color: saddlebrown;
    height: 105px;
    width: 105px;
    margin-right: 30px;
    margin-top: 20px;
}
.coffeeName:nth-child(odd){
    margin-left: 30px;
}
#coffeeTable h1{
    font-size: 3em;
    padding: 30px;
}

.cupCoffee{
    float: left;
    background-color: antiquewhite;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 100px;
}